body a.highlight {
		color: white;
		background-color: #9e2871;
		margin: 0.5em;
		padding: 0.25em 1em;
		border-radius: 6px;
		box-shadow: 3px;
		text-decoration: none;
		float: left;
		width: 30%;
		margin: 0px 40% 24px;
		text-align: center;
}
	
